@using Microsoft.FluentUI.AspNetCore.Components
@inject NavigationManager Nav

<div class="login-display" tabindex="0">
        <FluentIcon Value="@(new Icons.Regular.Size20.Person())" />
       @("Divakar")
    <div class="user-menu">        
        <a href="/">Log out</a>
    </div>
</div>
